# Server Configuration
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/goat-system

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# AWS S3 Configuration (required for file uploads)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
S3_BUCKET_NAME=your-bucket-name

# Optional: For production
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/goat-system
# JWT_SECRET=your-production-jwt-secret-key
# FRONTEND_URL=https://yourdomain.com
# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://ahmadiqbalqureshi011:AQ007%40%211234@cluster0.dbpoh9t.mongodb.net/goat-system

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Optional: For production
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/goat-system
# JWT_SECRET=your-production-jwt-secret-key

# AWS S3 (optional, required for file uploads)
AWS_REGION=Europe (Stockholm) eu-north-1
AWS_ACCESS_KEY_ID=AKIAZ5555KUV7CATNZVJ	n6BcbwV
AWS_SECRET_ACCESS_KEY=Z/n6BcbwV6HsBE9czxD3RrvtlI0Tv+3PdyBa9sTy
S3_BUCKET_NAME=goat-bucket-project